article {
	--figure-margin-bottom: 200px;
	--line-height-body: 30px;

	display: contents;
	line-height: var(--line-height-body);
}
@media (width < 850px) {
	article {
		--figure-margin-bottom: 80px;
	}
}
article > * {
	grid-column: 1 / -1;
}

/* article cover */
article > header {
	grid-column: content-left / content-right;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;
	gap: 0;
	padding-bottom: var(--figure-margin-bottom);
}
article > header h1,
article > header p {
	max-width: 32rem;
}
article > header h1 {
	margin-bottom: var(--line-height-display);
}
@media (width < 850px) {
	article > header h1 {
		margin-bottom: 30px;
	}
}
article > header p {
	font-size: var(--font-size-section_title);
	line-height: var(--line-height-section_title);
	margin-top: 20px;
	margin-bottom: 50px;
}
article > header img {
	width: 100%;
	background-color: var(--paper-yellow-shade);
}

/* roles section */
article #roles {
	display: flex;
	align-items: baseline;
	gap: var(--column-gap);
	margin-top: 30px;
	padding: 10px 0;
	border-top: 1px solid var(--black);
}

/* article body */
article > * {
	grid-column: article-left / article-right;
	margin: 0;
}
article > * + * {
	margin-top: var(--line-height-body);
}
article > header + * {
	margin-top: 0; /* collapse margin of first element after cover */
}
article h2, article h3 {
	font-style: italic;
}
article h2 {
	text-align: center;
	--min-vmargin: calc(3 * var(--line-height-display_list_title));
	--max-vmargin: 240px;
	margin: clamp(var(--min-vmargin), 25vh, var(--max-vmargin)) 0;
}
article h2::before {
	content: "§";
	display: block;
	font-size: var(--font-size-display);
	line-height: var(--line-height-display);
	margin-bottom: 40px;
}
article h2 + h3 {
	margin-top: 0; /* collapse h3 margin if immediately after h2 */
}
article h3 {
	justify-self: start;
	border-top: 1px solid var(--black);
	margin-top: 200px;
	padding-top: 20px;
}
article h3 + * {
	margin-top: 100px;
}
@media (width < 850px) {
	article h3 {
		margin-top: 120px;
	}
	article h3 + * {
		margin-top: 40px;
	}
}
@media (width > 599px) {
	/* hang bullets when margins are wide */
	article .body-list {
		padding-left: 0;
	}
}

/* figures */
article .spotlight-figure {
	/* default width if not specified inline */
	--ideal-figure-column-count: 6;
	/* make narrower only when available columns are fewer than ideal */
	--figure-column-count: min(var(--ideal-figure-column-count), var(--column-count));

	/* id of column where figure starts/ends */
	--figure-column-outset: calc((var(--figure-column-count) - var(--article-column-count)) / 2);
	/* number of columns removed compared to designed max */
	--column-deficit: calc(
		var(--ideal-figure-column-count) - 
		min(var(--ideal-figure-column-count), var(--column-count))
	);
	grid-column-start: flexible-left calc(-1 - var(--figure-column-outset));
	grid-column-end: flexible-right calc(1 + var(--figure-column-outset));

	display: grid;
	grid-template-columns: [bound-left] repeat(var(--figure-column-count), minmax(0, 1fr)) [bound-right];
	gap: var(--column-gap);
	align-items: end;
	margin-top: min(150px, var(--figure-margin-bottom));
}
article figure + *:not(h2, h3) {
	margin-top: var(--figure-margin-bottom);
}
article figure img, 
article figure video {
	--min-column-span: 2;
	/* figures w/ ideal span shrink by 1 column as figure area narrows by 2 */
	--column-span: max(
		calc(var(--ideal-span) - var(--column-deficit) / 2),
		var(--min-column-span)
	);
	/* if ideal span is not given, default to all columns available */
	grid-column-end: span var(--column-span, var(--figure-column-count));
	max-width: 100%;
}
article figure .key-figure {
	--min-column-span: 3;
}
@media (width < 600px) {
	article figure .key-figure {
		grid-column-end: span min(4, var(--ideal-span));
	}
}

/* captions */
article figure figcaption {
	font-size: var(--font-size-label);
	line-height: var(--line-height-label);
	grid-column: bound-left / bound-right;
	max-width: 48em;
}
article figure figcaption::before {
	font-variant: all-small-caps;
	margin-right: var(--column-gap);
	width: 2.25rem;
	display: inline-block;
	position: absolute;
	left: 0;
}
article figure.multi-caption > figure {
	display: contents;
}
article figure.multi-caption img {
	order: 1;
}
article figure.multi-caption figcaption {
	order: 2;
	position: relative;
	padding-left: 3.25rem;
}
article figure.multi-caption figure:not(:last-of-type) figcaption {
	margin-bottom: calc(-1 * var(--column-gap));
}
article figure.multi-caption figure:first-of-type figcaption::before {
	content: 'Left';
}
article figure.multi-caption figure:last-of-type figcaption::before {
	content: 'Right';
}

/* special layouts */
article figure.two-one {
	--ideal-figure-column-count: 12;
	/* extend figure grid to accommodate full bleed image */
	grid-column: 1 / -1;
	grid-template-columns: var(--wide-page-margin) [bound-left] repeat(var(--figure-column-count), minmax(0, 1fr)) [bound-right] var(--wide-page-margin);
	grid-auto-flow: column;
}
article figure.two-one img {
	grid-column-start: bound-left;
	/* crop image edges for alignment */
	align-self: stretch;
	object-fit: cover;
}
article figure.two-one img:nth-of-type(3) {
	grid-column-start: calc(var(--figure-column-count) / 2 + 2);
	grid-column-end: -1; /* full bleed */
	grid-row-end: span 2;
	width: auto;
}
@media (width < 600px) {
	article figure.two-one img:nth-of-type(3) {
		grid-column: bound-left / bound-right;
	}
}

article figure.caption-side figcaption {
	grid-column: auto / span 3;
	min-width: 14em;
}
@media (width < 850px) {
	article figure.caption-side figcaption {
		grid-column: bound-left / bound-right;
	}
}

article figure blockquote {
	margin: 0;
	margin-bottom: var(--line-height-large_body);
	font-size: var(--font-size-section_title);
	line-height: var(--line-height-section_title);
	font-style: italic;
	position: relative;
}
article figure blockquote::before {
	content: "“";
	display: block;
	position: absolute;
	right: 100%;
	margin-top: -32px;
	padding-right: 0.1ch;
	font-size: 60px;
	line-height: 60px;
	color: var(--red);
}

.multi-quote {	
	display: initial;
	grid-column: content-left / content-right;
	margin-top: calc(5 * var(--line-height-section_title));
	--quote-column-span: min(6, var(--column-count));
}
.multi-quote figure {
	display: grid;
	grid-template-columns: var(--grid-columns);
	gap: 0 var(--column-gap);
	align-items: start;
	justify-items: start;
}
.multi-quote figure + figure {
	margin-top: 150px;
}
/* alternate sides */
.multi-quote figure > * {
	grid-column: 1 / span var(--quote-column-span);
}
.multi-quote figure:nth-of-type(2n) > * {
	grid-column-end: content-right;
	grid-column-start: span var(--quote-column-span);
}
@media (width < 600px) {
	/* when margin in minimal, do not hang quote mark */
	article figure blockquote::before {
		right: initial;
	}
}

/* end mark decoration */
article::after {
	content: "*";
	display: block;
	font-size: 40px;
	line-height: 1;
	grid-column: 1 / -1;
	margin: 200px auto 0;
}

/* angled background accents */
article header.cover::before,
article .spotlight-figure::before {
	/* distance from center to article edge column */
	--article-edge-intersect-offset: calc(
		var(--content-edge-intersect-offset) - 
		var(--offset-per-column) * var(--article-column-offset)
	);
}
article header.cover::before {
	/* anchor to right, just below title */
	--angled-decoration-ideal-top: calc(3 * var(--line-height-display) - var(--content-edge-intersect-offset));
	/* intersect with 1 line height above article body left */
	bottom: calc(var(--line-height-body) - var(--article-edge-intersect-offset));
}
article .spotlight-figure::before {
	--angle-direction: 1;
	/* intersect with first article column */
	top: var(--article-edge-intersect-offset);
	/* intersect with 1 gap width below left edge of figure */
	bottom: calc(-1 * (
			var(--column-gap) +
			var(--offset-per-column) * var(--figure-column-outset) +
			var(--article-edge-intersect-offset)
		)
	);

/* add background for figures only after first section break */
	display: none;
}
article > h2 ~ .spotlight-figure::before {
	display: block;
}
