article {
	--figure-margin-bottom: 200px;
	--line-height-body: 30px;

	display: contents;
	line-height: var(--line-height-body);
}
@media (max-width: 850px) {
	article {
		--figure-margin-bottom: 80px;
	}
}
article > * {
	grid-column: 1 / -1;
}

/* article cover */
article > header {
	grid-column: content-left / content-right;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;
	gap: 0;
	padding-bottom: var(--figure-margin-bottom);
}
article > header h1,
article > header p {
	max-width: 32rem;
}
article > header h1 {
	margin-bottom: var(--line-height-display);
}
@media (max-width: 850px) {
	article > header h1 {
		margin-bottom: 30px;
	}
}
article > header p {
	font-size: var(--font-size-section_title);
	line-height: var(--line-height-section_title);
	margin-top: 20px;
	margin-bottom: 50px;
}
article > header img {
	width: 100%;
	background-color: var(--paper-yellow-shade);
}

/* roles section */
article #roles {
	display: flex;
	align-items: baseline;
	gap: var(--column-gap);
	margin-top: 30px;
	padding: 10px 0;
	border-top: 1px solid var(--black);
}

/* article body */
article > * {
	grid-column: article-left / article-right;
	margin: 0;
}
article > * + * {
	margin-top: var(--line-height-body);
}
article > header + * {
	margin-top: 0; /* collapse margin of first element after cover */
}
article h2, article h3 {
	font-style: italic;
}
article h2 {
	text-align: center;
	--min-vmargin: calc(3 * var(--line-height-display_list_title));
	--max-vmargin: 240px;
	margin: min(max(var(--min-vmargin), 25vh), var(--max-vmargin)) 0;
}
article h2::before {
	content: "§";
	display: block;
	font-size: var(--font-size-display);
	line-height: var(--line-height-display);
	margin-bottom: 40px;
}
article h2 + h3 {
	margin-top: 0; /* collapse h3 margin if immediately after h2 */
}
article h3 {
	justify-self: start;
	border-top: 1px solid var(--black);
	margin-top: 200px;
	padding-top: 20px;
}
article h3 + * {
	margin-top: 100px;
}
@media (max-width: 850px) {
	article h3 {
		margin-top: 120px;
	}
	article h3 + * {
		margin-top: 40px;
	}
}
@media (min-width: 601px) {
	/* hang bullets when margins are wide */
	article > .body-list {
		padding-left: 0;
	}
}

/* figure gallery styles */
.gallery {
	margin-top: min(150px, var(--figure-margin-bottom));
}
.gallery + *:not(h2, h3) {
	margin-top: var(--figure-margin-bottom);
}

/* gallery captions */
.gallery figcaption {
	--min-column-span: 3;
	font-size: var(--font-size-label);
	line-height: var(--line-height-label);
	grid-column-start: bound-left;
	max-width: 48em;
}
.gallery figcaption::before {
	font-variant: all-small-caps;
	margin-right: var(--column-gap);
	width: 2.25rem;
	display: inline-block;
	position: absolute;
	left: 0;
}
.gallery.multi-caption > figure {
	display: contents;
}
.gallery.multi-caption img {
	order: 1;
}
.gallery.multi-caption figcaption {
	order: 2;
	position: relative;
	padding-left: 3.25rem;
}
.gallery.multi-caption figure:not(:last-of-type) figcaption {
	margin-bottom: calc(-1 * var(--column-gap));
}
.gallery.multi-caption figure:nth-last-of-type(3) figcaption::before {
	content: 'Top';
}
.gallery.multi-caption figure:nth-last-of-type(2) figcaption::before {
	content: 'Left';
}
.gallery.multi-caption figure:nth-last-of-type(1) figcaption::before {
	content: 'Right';
}
@media (max-width: 600px) {
	.gallery.multi-caption[data-stacks-below="600"] figure:nth-of-type(1) figcaption::before {
		content: 'Top';
	}
	.gallery.multi-caption[data-stacks-below="600"] figure:nth-of-type(2):nth-last-of-type(2) figcaption::before {
		content: 'Middle';
	}
	.gallery.multi-caption[data-stacks-below="600"] figure:nth-last-of-type(1) figcaption::before {
		content: 'Bottom';
	}
}

.gallery.figure-plaque-pair {
	--ideal-figure-column-count: 12;
	line-height: 20px;
	align-items: start;
	row-gap: 150px;
}
.gallery.figure-plaque-pair > figure {
	display: contents;
}
.gallery.figure-plaque-pair img {
	--ideal-span: 6;
	box-shadow: var(--card-shadow);
}
.gallery.figure-plaque-pair figcaption {
	grid-column: span 4 / calc(-2 + min(var(--column-deficit), 2) / 2);
}
.gallery.figure-plaque-pair figcaption p {
	font-size: var(--font-size-body);
}
.gallery.figure-plaque-pair h4 {
	color: var(--red);
	display: inline-block;
	padding-top: calc(var(--line-height-label) / 2);
	border-top: 1px solid var(--grey-decorative);
}
.gallery.figure-plaque-pair p,
.gallery.figure-plaque-pair h5 {
	margin-top: var(--line-height-label);
}
@media (max-width: 700px) {
	.gallery.figure-plaque-pair {
		row-gap: var(--line-height-body);
	}
	.gallery.figure-plaque-pair img,
	.gallery.figure-plaque-pair figcaption {
		grid-column: bound-left / bound-right;
	}
	.gallery.figure-plaque-pair figcaption {
		margin-bottom: var(--figure-margin-bottom);
	}
}

.gallery.caption-side {
	grid-auto-flow: dense;
}
.gallery.caption-side figcaption {
	--ideal-span: 3;
	grid-column: var(--focus-column, auto) / span var(--column-span);
}
@media (max-width: 850px) {
	.gallery.caption-side figcaption {
		grid-column: bound-left / bound-right;
	}
}

article figure blockquote {
	margin: 0;
	margin-bottom: var(--line-height-large_body);
	font-size: var(--font-size-section_title);
	line-height: var(--line-height-section_title);
	font-style: italic;
	position: relative;
}
article figure blockquote::before {
	content: "“";
	display: block;
	position: absolute;
	right: 100%;
	margin-top: -32px;
	padding-right: 0.1ch;
	font-size: 60px;
	line-height: 60px;
	color: var(--red);
}

.multi-quote {	
	display: initial;
	grid-column: content-left / content-right;
	margin-top: calc(5 * var(--line-height-section_title));
	--quote-column-span: min(6, var(--column-count));
}
.multi-quote figure {
	display: grid;
	grid-template-columns: var(--grid-columns);
	gap: 0 var(--column-gap);
	align-items: start;
	justify-items: start;
}
.multi-quote figure + figure {
	margin-top: 150px;
}
/* alternate sides */
.multi-quote figure > * {
	grid-column: 1 / span var(--quote-column-span);
}
.multi-quote figure:nth-of-type(2n) > * {
	grid-column-end: content-right;
	grid-column-start: span var(--quote-column-span);
}
@media (max-width: 600px) {
	/* when margin in minimal, do not hang quote mark */
	article figure blockquote::before {
		right: initial;
	}
}

/* end mark decoration */
article::after {
	content: "*";
	display: block;
	font-size: 40px;
	line-height: 1;
	grid-column: 1 / -1;
	margin: 200px auto 0;
}

/* angled background accents */
article header.cover::before,
article .gallery::before {
	/* distance from center to article edge column */
	--article-edge-intersect-offset: calc(
		var(--content-edge-intersect-offset) - 
		var(--offset-per-column) * var(--article-column-offset)
	);
}
article header.cover::before {
	/* anchor to right, just below title */
	--angled-decoration-ideal-top: calc(3 * var(--line-height-display) - var(--content-edge-intersect-offset));
	/* intersect with 1 line height above article body left */
	bottom: calc(var(--line-height-body) - var(--article-edge-intersect-offset));
}
article .gallery::before {
	--angle-direction: 1;
	/* intersect with first article column */
	top: var(--article-edge-intersect-offset);
	/* intersect with 1 gap width below left edge of figure */
	bottom: calc(-1 * (
			var(--column-gap) +
			var(--offset-per-column) * var(--figure-column-outset) +
			var(--article-edge-intersect-offset)
		)
	);

/* add background for figures only after first section break */
	display: none;
}
article > h2 ~ .gallery::before {
	display: block;
}
