main {
	--dominant-column-span: 6;
	--mini-thumbnail-width: 248px;
}
@media (max-width: 850px) {
	main {
		--dominant-column-span: min(6, var(--column-count));
	}
}

/* page header */
h1 {
	margin-top: calc(var(--line-height-display) + 20px);
	grid-column: content-left / content-right;
}
header {
	padding-bottom: 120px;
	display: grid;
	grid-template-columns: var(--grid-columns);
	gap: var(--line-height-body) var(--column-gap);
}
header h1.sentence {
	margin-bottom: var(--line-height-display);
}
header p {
	grid-column: content-left / span var(--dominant-column-span);
}
/* angled background accent */
.cover::before,
.gallery::before {
	--angle-direction: -1;
	--tan15deg: calc(var(--angle-direction) * 0.2679);
	/* offset to intersect with top to left / bottom to right */
	--content-edge-intersect-offset: calc(var(--grid-width) * 0.5 * var(--tan15deg));
	--offset-per-column: calc((var(--column-width) + var(--column-gap)) * var(--tan15deg));
	content: '';
	display: block;
	position: absolute;
	background-color: var(--paper-yellow-shade);
	z-index: -1;
	width: 100vw;
	margin-left: calc(max(100vw - 100%, 0px) * -0.5);
	transform: skewY(calc(var(--angle-direction) * 15deg));
}
.cover::before {
	/* start a few lines into intro paragraph */
	--angled-decoration-ideal-top: calc(6 * var(--line-height-display) + var(--content-edge-intersect-offset));
	/* do not extend above nav bottom right corner */
	top: max(var(--angled-decoration-ideal-top), calc(-50vw * var(--tan15deg)));
	/* end slightly above left edge of next section */
	bottom: calc(var(--line-height-display) - var(--content-edge-intersect-offset));
}
.cover,
.gallery {
	position: relative;
}
@media (max-width: 850px) {
	header {
		padding-bottom: calc(2 * var(--line-height-section_title));
	}
	.cover::before {
		--angled-decoration-ideal-top: calc(var(--content-edge-intersect-offset) + 4 * var(--line-height-display));
	}
}

/* main page sections */
main > section + section {
	margin-top: calc(4 * var(--line-height-section_title));	
}
/* header labelling a list of titles */
.list-group {
	scroll-margin-top: var(--line-height-display_list_title);
}
.list-group > h2 {
	color: var(--grey);
}
.list-group > h2 + * {
	margin-top: calc(var(--line-height-display_list_title) - 10px);
}
.list-group .thumbnail-link {
	max-width: var(--mini-thumbnail-width);
}
.major-thing {
	display: grid;
	grid-template-columns: var(--grid-columns);
	column-gap: var(--column-gap);

	border-top: 1px solid var(--red);
	padding-top: 40px;
}
.major-thing h2 {
	font-style: normal;
}
.major-thing:not(.project) h2 {
	font-size: var(--font-size-section_title);
	line-height: var(--line-height-section_title);
}
/* margin between major subsections */
:not(main) > .major-thing + .major-thing {
	margin-top: 80px;
}
@media (max-width: 700px) {
	.major-thing {
		padding-top: 20px;
	}
}

.secondary-list {
	margin-top: calc(3 * var(--line-height-body));
	padding-top: calc(3 * var(--line-height-body));
	border-top: 1px solid var(--red);

	display: grid;
	grid-template-columns: var(--grid-columns);
	column-gap: var(--column-gap);
	row-gap: calc(2 * var(--line-height-body));
}
.secondary-list > * {
	list-style: none;
	
	grid-column-end: span var(--min-thumbnail-span);

	display: flex;
	flex-direction: column;
	gap: calc(0.5 * var(--line-height-body));
}
.secondary-list h2 {
	font-style: normal;
	font-size: var(--font-size-section_title);
	line-height: var(--line-height-section_title);
}
.secondary-list .project .thumbnail-link {
	order: -2;
	width: 100%;
}
.secondary-list .project .thumbnail-link > * {
	width: 100%;
	aspect-ratio: 16 / 9;
	object-fit: cover;
}
@media (min-width: 851px) {
	.secondary-list > *:nth-child(2n) {
		grid-column: span var(--min-thumbnail-span) / -1;
	}
}
@media (max-width: 700px) {
	.secondary-list {
		padding-top: 0;
		border-top: none;
	}
	.secondary-list .project {
		grid-column: content-left / content-right;
		padding-top: var(--line-height-body);
		border-top: 1px solid var(--red);
	}
	.secondary-list .thumbnail-link {
		max-width: var(--mini-thumbnail-width);
	}
}

/* left-right section layout */
.hanging-title-layout {
	--body-column-start: var(--column-count-half);
	--hanging-title-row-gap: var(--line-height-section_title);
	font-size: var(--font-size-section_title);
	line-height: var(--line-height-section_title);
	row-gap: var(--hanging-title-row-gap);
	align-items: baseline;
}
.hanging-title-layout h2 {
	grid-column: content-left / span min(max(2, calc(var(--column-count) - 6)), 3);
}
.hanging-title-layout h2 ~ *,
.hanging-title-layout div * {
	grid-column: var(--body-column-start) / content-right;
}
.hanging-title-layout h3,
.hanging-title-layout h4 {
	font-size: var(--font-size-label);
	line-height: var(--line-height-label);
	font-variant: all-small-caps;
}
.hanging-title-layout h3 {
	color: var(--red);
	margin-bottom: calc(0.5 * var(--line-height-body));
}
.hanging-title-layout h4 {
	color: var(--grey);
	display: inline-block;
}
/* left-right with subsections */
.hanging-title-layout div {
	display: contents;
	/* allow children to inherit grid properties */
	grid-column: inherit;
	gap: inherit;
}
.hanging-title-layout .detail-section {
	--compact-column-end: calc(-1 - min(max(0, var(--column-count) - 11), 1));
	--compact-column-span: calc(var(--column-count) - var(--body-column-start) + var(--compact-column-end) + 2);
	grid-column: var(--body-column-start) / var(--compact-column-end);
	font-size: var(--font-size-body);
	line-height: var(--line-height-body);
	/* override vertical rhythm of outer container */
	padding-bottom: calc(2 * var(--line-height-body) - var(--hanging-title-row-gap));
}
/* section divider with pseudoelement for more flexibility in width */
.hanging-title-layout .detail-section + .detail-section::before {
	content: '';
	display: block;
	border-top: 1px solid var(--grey-decorative);
	margin-bottom: var(--line-height-body);
}
@media (max-width: 700px) {
	.hanging-title-layout {
		--body-column-start: 1; /* use number to allow offsets using calc */
	}
	.hanging-title-layout h2 {
		grid-column-end: content-right;
	}
	.hanging-title-layout .detail-section {
		grid-column: content-left / content-right;
	}
}

/* compact layout for multiple lists */
.compact-list > * + * {
	margin-top: calc(0.5 * var(--line-height-body));
}
.compact-list section {
	display: flex;
	flex-wrap: wrap;
	row-gap: calc(0.5 * var(--line-height-body));
}
/* lay out list inline with previous label */
.compact-list h4 + .inline-list {
	display: contents;
}
.compact-list h4 + .inline-list :first-child {
	margin-left: 0.5em;
}

/* layout for list where each item fills a row */
.row-list.detail-section {
	display: grid;
	grid-column: var(--body-column-start) / var(--compact-column-end);
	grid-template-columns: repeat(var(--compact-column-span), minmax(0, 1fr));
	column-gap: inherit;
	row-gap: var(--line-height-body);
}
.row-list.detail-section *,
.row-list.detail-section::before {
	--body-column-start: 1;
	grid-column: var(--body-column-start) / -1;
}

.row-list.detail-section .title + .detail {
	margin-top: calc(-1 * var(--line-height-body));
}

/* layout for list of projects */
.project {
	--min-thumbnail-span: 3;
}
.major-thing.project {
	padding-top: var(--line-height-body);
	row-gap: var(--line-height-body);
	justify-items: start;
	grid-template-rows: repeat(5, min-content);
	margin-bottom: calc(-1 * var(--line-height-body));
}
.project > * {
	grid-column: content-left / span var(--dominant-column-span);
	align-self: start; /* prevent items from stretching vertically */
}
.project h3 a {
	text-decoration: none;
}
.project .description {
	margin-top: calc(-0.5 * var(--line-height-body));
	margin-bottom: calc(0.5 * var(--line-height-body));
}
.project .links {
	font-size: var(--font-size-label);
	line-height: var(--line-height-label);
	font-style: italic;
}
.project .links a {
	--vertical-padding: 5px;
	display: inline-block;
	padding: var(--vertical-padding) 0;
	margin-top: calc(-1 * var(--vertical-padding));
	margin-bottom: calc(-1 * var(--vertical-padding));
}
.project .primary-link {
	color: var(--red);
}
.project .links * + * {
	margin-left: var(--line-height-body);
}
.project .thumbnail-link {
	grid-column: span var(--min-thumbnail-span) / content-right;
	justify-self: end;
	grid-row: 1 / -1;
}
.project .thumbnail-link > * {
	max-width: 100%;
	vertical-align: middle; /* remove tiny gap under img */
}
@media (max-width: 850px) {
	.project .description {
		margin-bottom: 0;
	}
	.project .thumbnail-link {
		grid-column: content-left / content-right;
		justify-self: start;
		order: -2;
	}
}

/* figure gallery styles */
.gallery {
	/* default width if not specified inline */
	/*--ideal-figure-column-count: 6;*/
	/* half value for compatibility with browsers that reject calc divisions when expecting integer */
	--ideal-figure-column-count: calc(2 * var(--ideal-figure-column-count-half));
	--ideal-figure-column-count-half: 3;

	/* make narrower only when available columns are fewer than ideal */
	--figure-column-count: min(var(--ideal-figure-column-count), var(--column-count));
	--figure-column-template: [bound-left] repeat(var(--figure-column-count), minmax(0, 1fr)) [bound-right];

	/* id of column where figure starts/ends */
	--figure-column-outset: calc((var(--figure-column-count) - var(--article-column-count)) / 2);

	/* number of columns removed compared to designed max */
	--column-deficit: calc(
		var(--ideal-figure-column-count) - 
		min(var(--ideal-figure-column-count), var(--column-count))
	);
	--column-deficit-half: calc(var(--column-deficit) / 2);

	grid-column-start: flexible-left calc(-1 - var(--figure-column-outset));
	grid-column-end: flexible-right calc(1 + var(--figure-column-outset));

	display: grid;
	grid-template-columns: var(--figure-column-template);
	gap: var(--column-gap);
	align-items: end;
}
/* compatibility with browsers that reject divisions when expecting integer */
@supports not (grid-column-start: calc(1 / 1)) {
	.gallery {
		--figure-column-outset: calc(
			min(
				var(--ideal-figure-column-count-half), 
				var(--column-count-half)
			) - var(--article-column-count-half)
		);
		--column-deficit-half: calc(
			var(--ideal-figure-column-count-half) - 
			min(var(--ideal-figure-column-count-half), var(--column-count-half))
		);
	}
}
.gallery img, 
.gallery video,
.gallery figcaption {
	--min-column-span: 2;
	/* if ideal span is not given, default to all columns available */
	--ideal-span: var(--ideal-figure-column-count);
	/* figures shrink by 1 column as figure area narrows by 2 */
	--column-span: min(max(
		var(--min-column-span),
		calc(var(--ideal-span) - var(--column-deficit-half))),
		var(--figure-column-count)
	);
	grid-column-end: span var(--column-span);
	max-width: 100%;
}
.gallery video {
	width: 100%;
}
.gallery .key-figure {
	--min-column-span: 3;
}
@media (max-width: 450px) {
	.gallery .key-figure {
		/* do not shrink key figures as much on small screens */
		--min-column-span: 4;
	}
}

/* special gallery layouts */

/* layouts where images fan out asymmetrically around an empty point */
.gallery.spiral {
	/*--ideal-figure-column-count: 12;*/
	--ideal-figure-column-count-half: 6;
	--ideal-focus-column: 6; /* if not specified, default to center */
	--focus-column: calc(var(--ideal-focus-column) - var(--column-deficit-half) + 2);
	/* extend figure grid to accommodate full bleed image */
	grid-template-columns: var(--wide-page-margin) var(--figure-column-template) var(--wide-page-margin);
	grid-column: 1 / -1;
	grid-auto-flow: dense;
}
/* horizontal alignments */
.gallery.spiral [data-focus-quadrant~="left"] {
	grid-column-end: var(--focus-column);	
	grid-column-start: span var(--column-span);
	justify-self: end;
}
.gallery.spiral [data-focus-quadrant~="right"] {
	grid-column-start: var(--focus-column);
}
.gallery.spiral [data-focus-quadrant~="center"] {
	/* horizontally center */
	grid-column-start: calc(2 + (var(--figure-column-count) - var(--column-span)) / 2);
}
@supports not (grid-column-start: calc(1 / 1)) {
	.gallery.spiral [data-focus-quadrant~="center"] {
		grid-column-start: calc(2 + var(--column-count-half) - var(--article-column-count-half));
	}
}
.gallery.spiral figcaption[data-focus-quadrant~="left"] {
	justify-self: stretch;
}
/* vertical alignments */
.gallery.spiral [data-focus-quadrant~="above"] {
	align-self: end;
}
.gallery.spiral [data-focus-quadrant~="below"] {
	align-self: start;
}
.gallery.spiral :not([data-focus-quadrant~="above"],[data-focus-quadrant~="below"]) {
	align-self: center;
}
/* bleed to viewport edge */
.gallery.spiral [data-focus-quadrant*="left bleed"] {
	grid-column-start: 1;
	grid-column-end: var(--focus-column);
}
.gallery.spiral [data-focus-quadrant*="right bleed"] {
	grid-column-start: var(--focus-column);
	grid-column-end: -1;
}
@media (max-width: 700px) {
	.gallery.spiral .key-figure[data-focus-quadrant~="center"] {
		grid-column-start: bound-left;
	}
	.gallery.spiral figcaption[data-focus-quadrant] {
		grid-column: bound-left / bound-right;
	}
}
@media (max-width: 600px) {
	/* at small size, use regular gutters and tile images on simple grid */
	.gallery.spiral {
		grid-template-columns: var(--figure-column-template);
		grid-column: content-left / content-right;
	}
	.gallery.spiral img,
	.gallery.spiral [data-focus-quadrant] {
		grid-column-start: auto;
		grid-column-end: span var(--column-span);
		align-self: end;
	}
	.spiral .key-figure {
		grid-column: bound-left / bound-right;
	}
}

.gallery.spiral.uniform-grid {
	grid-auto-flow: dense;
}
.gallery.spiral.uniform-grid img {
	/* crop image edges for alignment */
	align-self: stretch;
	object-fit: cover;
}
@media (max-width: 600px) {
	.gallery.spiral.uniform-grid img {
		--column-span: var(--figure-column-count);
	}
}

/* allow other media or caption to be positioned to the side */
.gallery .float {
	grid-row-end: span calc(2 + var(--caption-count, 0));
}

/* layout for landing page with minimal text (portfolio) */
.featured-landing {
	--dominant-column-span: var(--column-count-half);
}
.featured-landing .project {
	--min-thumbnail-span: calc(var(--column-count) - var(--dominant-column-span) - 1);
}
@media (max-width: 850px) {
	.featured-landing {
		--dominant-column-span: var(--column-count);
	}
	.featured-landing .project {
		--min-thumbnail-span: 4;
	}
}
.featured-landing .project h2 a:link {
	color: var(--black);
	text-decoration: none;
}
.featured-landing .project .description {
	margin: 0;
}
.featured-landing .major-thing.project .description {
	max-width: 28em;
}
.featured-landing .project .description,
.featured-landing .project .primary-link,
.featured-landing .project .roles {
	font-size: var(--font-size-label);
	line-height: var(--line-height-label);
}
.featured-landing .project .roles,
.featured-landing .project .primary-link {
	font-style: normal;
	font-variant: all-small-caps;
}
.featured-landing .project .primary-link {
	text-decoration: none;
	/* larger target area */
	padding: calc(0.5 * var(--line-height-body)) 0;
	padding-right: 6px;
	margin: calc(-0.5 * var(--line-height-body)) 0;
}
/* arrow after cta */
.featured-landing .project .primary-link::after {
	content: ' »';
	display: inline-block;
	margin-left: 5px;
	transition: transform ease-in-out 200ms;
}
/* hover state */
.featured-landing .project .primary-link:hover,
.featured-landing .project .primary-link:focus,
.featured-landing .project .thumbnail-link:hover ~ .primary-link,
.featured-landing .project .thumbnail-link:focus ~ .primary-link,
.featured-landing .project h2:hover ~ .primary-link,
.featured-landing .project h2:focus-within ~ .primary-link {
	text-decoration: underline;
}
.featured-landing .project .primary-link:hover::after,
.featured-landing .project .primary-link:focus::after,
.featured-landing .project .thumbnail-link:hover ~ .primary-link::after,
.featured-landing .project .thumbnail-link:focus ~ .primary-link::after,
.featured-landing .project h2:hover ~ .primary-link::after,
.featured-landing .project h2:focus-within ~ .primary-link::after {
	transform: translateX(3px);
}
.featured-landing .project .roles {
	opacity: 0.7;
	order: -1;
	margin-bottom: calc(-0.5 * var(--line-height-body));
	row-gap: 0;
}
.featured-landing .major-thing.project .thumbnail-link {
	width: 100%;
	margin-bottom: calc(-0.5 * var(--line-height-body));
}

/* cards that expand from bottom */
.growing-cards {
	--scroll-grow-percentage: 1;
	--staggered-card-percentage: var(--scroll-grow-percentage);
	--item-left-padding: var(--column-gap);
	--item-column-span: var(--column-count-half);
	--item-width: calc(var(--item-column-span) * (var(--column-width) + var(--column-gap)));
	--bottom-peek-height: calc(
		var(--line-height-section_title) +
		var(--line-height-body) * 2
	);
	display: grid;
	grid-template-columns: var(--grid-columns);
	column-gap: var(--column-gap);
	position: relative; /* size top border relative to this block */
	margin-top: 200px;
	margin-bottom: calc(-10 * var(--line-height-body)); /* counteract main padding-bottom */
}
.growing-cards section {
	--staggerness: 0.3; /* from 0 to 1: simultaneous to no overlap */
	grid-column: auto / span var(--item-column-span);
	box-sizing: border-box;
	min-height: calc(var(--item-width) / 1.618); /* golden ratio min height */
	padding-left: var(--item-left-padding);
	padding-bottom: var(--item-left-padding);
	margin-left: calc(-1 * var(--item-left-padding));
	position: relative; /* position side borders relative to this block */
}
.growing-cards section:first-of-type {
	--staggered-card-percentage: min(1, calc(var(--scroll-grow-percentage) * (1 + var(--staggerness))));
}
.growing-cards section + section {
	border-left: none;
	--staggered-card-percentage: max(0, min(1, calc(var(--scroll-grow-percentage) * (1 + var(--staggerness)) - var(--staggerness))));
}
.growing-cards h2 {
	font-style: normal;
	/* interpolate size from section title to display list title */
	font-size: calc(
		var(--font-size-section_title) + 
		(var(--font-size-display_list_title) - var(--font-size-section_title)) * var(--staggered-card-percentage)
	);
	line-height: calc(
		var(--line-height-section_title) + 
		(var(--line-height-display_list_title) - var(--line-height-section_title)) * var(--staggered-card-percentage)
	);
}
.growing-cards h2 a {
	text-decoration: none;
	display: block;
	padding: var(--line-height-body) 0;
}
.growing-cards h2 a::after {
	content: " »";
	display: inline-block;
	margin-left: 0.4ch;
	transition: transform ease-in-out 200ms;
}
.growing-cards h2 a:hover::after,
.growing-cards h2 a:focus::after {
	transform: translateX(3px);
}
.growing-cards p {
	max-width: 18em;
	margin-right: var(--item-left-padding);
	opacity: calc(var(--staggered-card-percentage) * var(--staggered-card-percentage) * var(--staggered-card-percentage));
}

/* card borders */
.growing-cards::before,
.growing-cards section::after {
	content: "";
	display: block;
	position: absolute;
	height: 100%;
}
.growing-cards::before {
	margin-left: calc(50% - var(--item-left-padding) / 2);
	border-top: 1px solid var(--black);
	width: calc(
		100% + var(--item-left-padding) +
		(100vw - 100%) * (1 - var(--scroll-grow-percentage))
	);
	transform: translateX(-50%);
}
.growing-cards section + section {
	border-left: 1px solid var(--black);
}
.growing-cards section::after {
	top: 0;
	border-left: 1px solid var(--black);
	transform: scaleY(var(--staggered-card-percentage));
	transform-origin: top;
}
.growing-cards section:first-of-type::after {
	left: 0;
}
.growing-cards section:last-of-type::after {
	right: 0;
}

/* scroll-based states */
.growing-cards.observing {
	/* position sticky only if js initiated */
	position: sticky;
	bottom: calc(-1 * var(--computed-height));
	transition: bottom 200ms ease-in-out;
}
.growing-cards.peeking {
	bottom: calc(var(--bottom-peek-height) - var(--computed-height));
}

@media (width < 600px) {
	.growing-cards {
		--item-column-span: var(--column-count);
	}
	.growing-cards.peeking section {
		--staggerness: 1; /* from 0 to 1: simultaneous to complete overlap */
	}
	.growing-cards::before {
		display: none;
	}
	.growing-cards section + section {
		border-left: none;
	}
	.growing-cards section::after {
		border-left: none;
		border-top: 1px solid var(--black);
		height: 0;
		width: 100vw;
		left: 0;
		transform: none;
	}
	.growing-cards.observing {
		position: static;
	}
}
