main {
	--dominant-column-span: 6;
}
@media (width < 850px) {
	main {
		--dominant-column-span: min(6, var(--column-count));
	}
}

/* page header */
h1 {
	margin-top: calc(var(--line-height-display) + 20px);
	grid-column: content-left / content-right;
}
header {
	padding-bottom: 120px;
	display: grid;
	grid-template-columns: var(--grid-columns);
	gap: var(--line-height-body) var(--column-gap);
}
header h1.sentence {
	margin-bottom: var(--line-height-display);
}
header p {
	grid-column: content-left / span var(--dominant-column-span);
}
/* angled background accent */
header.cover::before,
.gallery::before {
	--angle-direction: -1;
	--tan15deg: calc(var(--angle-direction) * 0.2679);
	/* offset to intersect with top to left / bottom to right */
	--content-edge-intersect-offset: calc(var(--grid-width) * 0.5 * var(--tan15deg));
	--offset-per-column: calc((var(--column-width) + var(--column-gap)) * var(--tan15deg));
	content: '';
	display: block;
	position: absolute;
	background-color: var(--paper-yellow-shade);
	z-index: -1;
	width: 100vw;
	margin-left: calc(max(100vw - 100%, 0px) * -0.5);
	transform: skewY(calc(var(--angle-direction) * 15deg));
}
header.cover::before {
	/* start a few lines into intro paragraph */
	--angled-decoration-ideal-top: calc(6 * var(--line-height-display) + var(--content-edge-intersect-offset));
	/* do not extend above nav bottom right corner */
	top: max(var(--angled-decoration-ideal-top), calc(-50vw * var(--tan15deg)));
	/* end slightly above left edge of next section */
	bottom: calc(var(--line-height-display) - var(--content-edge-intersect-offset));
}
header.cover,
.gallery {
	position: relative;
}
@media (width < 850px) {
	header {
		padding-bottom: calc(2 * var(--line-height-section_title));
	}
	header.cover::before {
		--angled-decoration-ideal-top: calc(var(--content-edge-intersect-offset) + 4 * var(--line-height-display));
	}
}

/* main page sections */
main > section + section {
	margin-top: calc(4 * var(--line-height-section_title));	
}
/* header labelling a list of titles */
.list-group > h2 {
	color: var(--grey);
}
.list-group > h2 + * {
	margin-top: calc(var(--line-height-display_list_title) - 10px);
}
.major-thing {
	display: grid;
	grid-template-columns: var(--grid-columns);
	column-gap: var(--column-gap);

	border-top: 1px solid var(--red);
	padding-top: 40px;
}
.major-thing h2 {
	font-style: normal;
}
.major-thing:not(.project) h2 {
	font-size: var(--font-size-section_title);
	line-height: var(--line-height-section_title);
}
/* margin between major subsections */
:not(main) > .major-thing + .major-thing {
	margin-top: 60px;
}
@media (width < 700px) {
	.major-thing {
		padding-top: 20px;
	}
}

/* left-right section layout */
.hanging-title-layout {
	--body-column-start: calc(var(--column-count) / 2);
	--hanging-title-row-gap: var(--line-height-section_title);
	font-size: var(--font-size-section_title);
	line-height: var(--line-height-section_title);	
	row-gap: var(--hanging-title-row-gap);
	align-items: baseline;
}
.hanging-title-layout h2 {
	grid-column: content-left / span clamp(2, calc(var(--column-count) - 6), 3);
}
.hanging-title-layout h2 ~ *,
.hanging-title-layout div * {
	grid-column: var(--body-column-start) / content-right;
}
.hanging-title-layout h3,
.hanging-title-layout h4 {
	font-size: var(--font-size-label);
	line-height: var(--line-height-label);
	font-variant: all-small-caps;
}
.hanging-title-layout h3 {
	color: var(--red);
	margin-bottom: calc(0.5 * var(--line-height-body));
}
.hanging-title-layout h4 {
	color: var(--grey);
	display: inline-block;
}
/* left-right with subsections */
.hanging-title-layout div {
	display: contents;
	/* allow children to inherit grid properties */
	grid-column: inherit;
	gap: inherit;
}
.hanging-title-layout .detail-section {
	--compact-column-end: calc(-1 - clamp(0, var(--column-count) - 11, 1));
	grid-column: var(--body-column-start) / var(--compact-column-end);
	font-size: var(--font-size-body);
	line-height: var(--line-height-body);
	/* override vertical rhythm of outer container */
	padding-bottom: calc(2 * var(--line-height-body) - var(--hanging-title-row-gap));
}
/* section divider with pseudoelement for more flexibility in width */
.hanging-title-layout .detail-section + .detail-section::before {
	content: '';
	display: block;
	border-top: 1px solid var(--grey-decorative);
	margin-bottom: var(--line-height-body);
}
@media (width < 700px) {
	.hanging-title-layout {
		--body-column-start: 1; /* use number to allow offsets using calc */
	}
	.hanging-title-layout h2 {
		grid-column-end: content-right;
	}
	.hanging-title-layout .detail-section {
		grid-column: content-left / content-right;
	}
}

/* compact layout for multiple lists */
.compact-list > * + * {
	margin-top: calc(0.5 * var(--line-height-body));
}
.compact-list section {
	display: flex;
	flex-wrap: wrap;
	row-gap: calc(0.5 * var(--line-height-body));
}
/* lay out list inline with previous label */
.compact-list h4 + .inline-list {
	display: contents;
}
.compact-list h4 + .inline-list :first-child {
	margin-left: 0.5em;
}

/* layout for list of projects */
.project {
	--min-thumbnail-span: 3;
}
.major-thing.project {
	padding-top: var(--line-height-body);
	row-gap: var(--line-height-body);
	justify-items: start;
}
.project > * {
	grid-column: content-left / span var(--dominant-column-span);
	align-self: start; /* prevent items from stretching vertically */
}
.project .description {
	margin-top: calc(-0.5 * var(--line-height-body));
	margin-bottom: calc(0.5 * var(--line-height-body));
}
.project .links {
	font-size: var(--font-size-label);
	line-height: var(--line-height-label);
	font-style: italic;
}
.project .primary-link {
	color: var(--red);
}
.project .links * + * {
	margin-left: var(--line-height-body);
}
.project .thumbnail-link {
	grid-column: span var(--min-thumbnail-span) / content-right;
	justify-self: end;
	grid-row: 1 / span 4;
	max-width: 248px;
}
.project .thumbnail-link img {
	max-width: 100%;
	vertical-align: middle; /* remove tiny gap under img */
}
@media (width < 850px) {
	.project .description {
		margin-bottom: 0;
	}
	.project .thumbnail-link {
		grid-column: content-left / content-right;
		justify-self: start;
		order: -2;
	}
}

/* layout for landing page with minimal text (portfolio) */
.featured-landing {
	--dominant-column-span: calc(var(--column-count) / 2);
}
@media (width < 850px) {
	.featured-landing {
		--dominant-column-span: var(--column-count);
	}
}
.featured-landing .project {
	--min-thumbnail-span: calc(var(--column-count) - var(--dominant-column-span) - 1);
}
.featured-landing .project h2 a:link {
	color: var(--black);
	text-decoration: none;
}
.featured-landing .project .description {
	max-width: 28em;
	margin: 0;
}
.featured-landing .project .description,
.featured-landing .project .primary-link,
.featured-landing .project .roles {
	font-size: var(--font-size-label);
	line-height: var(--line-height-label);
}
.featured-landing .project .roles,
.featured-landing .project .primary-link {
	font-style: normal;
	font-variant: all-small-caps;
}
.featured-landing .project .primary-link {
	text-decoration: none;
	/* larger target area */
	padding: calc(0.5 * var(--line-height-body)) 0;
	padding-right: 6px;
	margin: calc(-0.5 * var(--line-height-body)) 0;
}
/* arrow after cta */
.featured-landing .project .primary-link::after {
	background-color: currentColor;
	content: '';
	display: inline-block;
	width: 13px;
	height: 6px;
	mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 6'%3E%3Cpath stroke='%23000' d='M0 3h11.5M9.75 1l2 2-2 2' fill='none'/%3E%3C/svg%3E") no-repeat center;
	margin-top: -1px;
	margin-left: 5px;
	transition: transform ease-in-out 200ms;
}
/* hover state */
.featured-landing .project .primary-link:hover,
.featured-landing .project .primary-link:focus,
.featured-landing .project .thumbnail-link:hover ~ .primary-link,
.featured-landing .project .thumbnail-link:focus ~ .primary-link,
.featured-landing .project h2:hover ~ .primary-link,
.featured-landing .project h2:focus-within ~ .primary-link {
	text-decoration: underline;
}
.featured-landing .project .primary-link:hover::after,
.featured-landing .project .primary-link:focus::after,
.featured-landing .project .thumbnail-link:hover ~ .primary-link::after,
.featured-landing .project .thumbnail-link:focus ~ .primary-link::after,
.featured-landing .project h2:hover ~ .primary-link::after,
.featured-landing .project h2:focus-within ~ .primary-link::after {
	transform: translateX(4px);
}
.featured-landing .project .roles {
	opacity: 0.7;
	order: -1;
	margin-bottom: calc(-0.5 * var(--line-height-body));
}
.featured-landing .project .thumbnail-link {
	max-width: none;
	margin-bottom: calc(-0.5 * var(--line-height-body));
}
