header {
	padding-bottom: calc(var(--line-height-body) * 4);
	align-content: start;
}
h1 {
	margin-top: calc(var(--line-height-display) * 2);
}
header p {
	grid-column-end: span min(5, var(--column-count));
	max-width: 358px;
}

.project .thumbnail-link img {
	aspect-ratio: 16 / 9;
	width: 100%;
	object-fit: cover;
}

/* card background to match accent angle */
.growing-cards::before {
	/* bg on pseudoelement to cover full viewport width */
	background-color: transparent;
	transition: background-color 500ms;
}
.growing-cards.observing:not(.growing)::before {
	background-color: var(--paper-yellow-shade);
}
