main {
	padding: 0;
}

header {
	padding-bottom: calc(var(--line-height-body) * 4);
	align-content: start;
}
h1 {
	margin-top: calc(var(--line-height-display) * 2);
}
header p {
	grid-column-end: span min(4, var(--column-count));
}

.sticky-cards {
	--scroll-grow-percentage: 1;
	--item-left-padding: var(--column-gap);
	--item-column-span: calc(var(--column-count) / 2);
	--item-width: calc(var(--item-column-span) * (var(--column-width) + var(--column-gap)));
	--bottom-peek-height: calc(
		var(--line-height-section_title) +
		var(--line-height-body) * 2
	);
	display: grid;
	grid-template-columns: var(--grid-columns);
	column-gap: var(--column-gap);
	position: relative; /* size top border relative to this block */
}
.gallery + .sticky-cards {
	margin-top: 200px;
}
.sticky-cards section {
	grid-column: auto / span var(--item-column-span);
	min-height: calc(var(--item-width) / 1.618); /* golden ratio min height */
	padding-left: var(--item-left-padding);
	margin-left: calc(-1 * var(--item-left-padding));
	position: relative; /* position side borders relative to this block */
}
.sticky-cards h2 {
	font-style: normal;
	/* interpolate size from section title to display list title */
	font-size: calc(
		var(--font-size-section_title) + 
		(var(--font-size-display_list_title) - var(--font-size-section_title)) * var(--scroll-grow-percentage)
	);
	line-height: calc(
		var(--line-height-section_title) + 
		(var(--line-height-display_list_title) - var(--line-height-section_title)) * var(--scroll-grow-percentage)
	);
}
.sticky-cards h2 a {
	text-decoration: none;
	display: block;
	padding: var(--line-height-body) 0;
}
.sticky-cards h2 a::after {
	content: " »";
}
.sticky-cards p {
	max-width: 18em;
	margin-right: var(--item-left-padding);
	opacity: calc(var(--scroll-grow-percentage) * var(--scroll-grow-percentage) * var(--scroll-grow-percentage));
}

/* card borders */
.sticky-cards::before,
.sticky-cards section::after {
	content: "";
	display: block;
	position: absolute;
	height: 100%;
}
.sticky-cards::before {
	margin-left: calc(50% - var(--item-left-padding) / 2);
	border-top: 1px solid var(--black);
	width: calc(
		100% + var(--item-left-padding) +
		(100vw - 100%) * (1 - var(--scroll-grow-percentage))
	);
	transform: translateX(-50%);

	/* bg on pseudoelement to cover full viewport width */
	background-color: transparent;
	transition: background-color 500ms;
}
.sticky-cards section + section {
	border-left: 1px solid var(--black);
}
.sticky-cards section::after {
	top: 0;
	border-left: 1px solid var(--black);
	transform: scaleY(var(--scroll-grow-percentage));
	transform-origin: top;
}
.sticky-cards section:first-of-type::after {
	left: 0;
}
.sticky-cards section:last-of-type::after {
	right: 0;
}

/* scroll-based states */
.sticky-cards.observing {
	/* position sticky only if js initiated */
	position: sticky;
	bottom: calc(-1 * var(--computed-height));
	transition: bottom 200ms ease-in-out;
}
.sticky-cards.peeking {
	bottom: calc(var(--bottom-peek-height) - var(--computed-height));
}
.sticky-cards.observing:not(.growing)::before {
	background-color: var(--paper-yellow-shade);
}
