@font-face {
	font-family: "Fanwood Text";
	src: local("Fanwood Text"),
		 local("Fanwood"),
		 url("../assets/fonts/fanwood_text-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Fanwood Text";
	src: local("Fanwood Text Italic"),
		 url("../assets/fonts/fanwood_text_italic-webfont.woff") format("woff");
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: "Fanwood";
	src: local("Fanwood"),
		 url("../assets/fonts/fanwood-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

:root {
	--font-size-display: 60px;
	--line-height-display: 60px;
	--font-size-display_list_title: 48px;
	--line-height-display_list_title: 50px;
	--font-size-section_title: 24px;
	--line-height-section_title: 30px;
	--font-size-large_body: 24px;
	--line-height-large_body: 30px;
	--font-size-body: 16px;
	--line-height-body: 20px;
	--font-size-label: 14px;
	--line-height-label: 20px;
}
@media (width < 850px) {
	:root {
		--font-size-display: 40px;
		--line-height-display: 40px;
		--font-size-large_body: 16px;
		--line-height-large_body: 20px;
		--font-size-display_list_title: 40px;
		--line-height-display_list_title: 40px;
	}
}

html {
	font-family: "Fanwood Text";
	font-size: var(--font-size-body);
}
body {
	line-height: var(--line-height-body);
}

strong {
	font-variant-caps: small-caps;
	font-weight: normal;
}

h1, h2, h3, h4, h5 {
	font-weight: normal;
}
h1 {
	font-family: "Fanwood", "Fanwood Text";
	font-size: var(--font-size-display);
	line-height: var(--line-height-display);
}
h2 {
	font-size: var(--font-size-display_list_title);
	line-height: var(--line-height-display_list_title);
	font-style: italic;
}
h3 {
	font-size: var(--font-size-section_title);
	line-height: var(--line-height-section_title);
}
h4, h5 {
	font-size: var(--font-size-label);
	line-height: var(--line-height-label);
	font-variant: all-small-caps;
}

p.detail {
	font-size: var(--font-size-label);
	line-height: var(--line-height-label);
	font-style: italic;
	color: var(--grey);
}

a {
	color: inherit;
}
a:hover {
	color: var(--red);
}
::selection {
	background-color: #F9EBD2;
}
