@font-face {
	font-family: "Fanwood Text";
	src: local("Fanwood Text"),
		 local("Fanwood"),
		 url("../assets/fonts/fanwood_text-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Fanwood Text Italic";
	src: local("Fanwood Text Italic"),
		 url("../assets/fonts/fanwood_text_italic-webfont.woff") format("woff");
	font-weight: normal;
	font-style: italic;
}

:root {
	--font-size-display: 60px;
	--line-height-display: 60px;
	--font-size-display_list_title: 48px;
	--line-height-display_list_title: 50px;
	--font-size-section_title: 24px;
	--line-height-section_title: 30px;
	--font-size-body: 16px;
	--line-height-body: 20px;
	--font-size-label: 14px;
	--line-height-label: 20px;
}
@media (width < 850px) {
	:root {
		--font-size-display: 40px;
		--line-height-display: 40px;
		--font-size-display_list_title: 40px;
		--line-height-display_list_title: 40px;
	}
}

html {
	font-family: "Fanwood Text";
	font-size: var(--font-size-body);
}

i, em {
	font-family: "Fanwood Text Italic", "Fanwood Text";
}
strong {
	font-variant-caps: small-caps;
	font-weight: normal;
}

h1, h2, h3, h4, h5 {
	font-weight: normal;
}
h1 {
	font-size: var(--font-size-display);
	line-height: var(--line-height-display);
}
h4, h5 {
	font-variant: all-small-caps;
	margin: 0;
}
p, ul {
	font-size: var(--font-size-body);
	line-height: var(--line-height-body);
}

a {
	color: inherit;
}
a:hover {
	color: var(--red);
}
